app = 'sage-api'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1

[env]
  APP_NAME = "SAGE API"
  DEBUG = "false"
  # Feature flags
  ENABLE_RAG_CHAT = "true"
  ENABLE_RAG_ELIGIBILITY = "true"
  ENABLE_FIX_FINDER = "true"
  # Pinecone
  PINECONE_INDEX_NAME = "sage-guides"
